.playedGame-container {
    display: flex;
    margin: 20px;
    border-radius: 10px;
    height: 100px;
    background-color: lightblue;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.06);
}

.playedGame-contents{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.playedGame-contents-sides{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 15px;
    width: 30%;


}

.playedGame-contents-sides #player-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;

}

.playedGame-contents-middle{
    display: flex;
    margin: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}