.playedGame-container {
    display: flex;
    border: 2px solid red;
    margin: 10px;
    border-radius: 10px;
    height: 100px;
}

.playedGame-contents{
    width: 100%;
    display: flex;
    border: 2px solid red;
    justify-content: space-between;
}

.playedGame-contents-sides{
    display: flex;
    border: 2px solid yellow;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.playedGame-contents-middle{
    display: flex;
    border: 2px solid yellow;
    margin: 5px;
    align-items: center;
    align-self: flex-start;
}