.playerCard-container {
    display: flex;
    margin-left: 1vw;
    margin-top: 20px;
    justify-content: center;
    min-width: 400px;
    min-height: 500px;
}

.playerCard-container button {
    cursor: pointer;
    background-color: lightblue;
    border: none;
}


.playerCard-content {
    max-height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    background-color: lightblue;
    width: 100%;
    justify-content: space-between;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.06);

}

.playerCard-content-name {
    align-self: center;
    padding-top: 10px;
    margin-top: 10px;
}

.playerCard-content-photo {
    display: flex;
    align-items: center;
    align-self: center;
    color: white;
    margin: 20px;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}


.playerCard-content-photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.playerCard-content-stats {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    border: 1px solid lightcyan;
    flex-direction: column;
    border-radius: 10px;
        gap: 10px;
    font-size: large;
}

.playerCard-content-stats input {
    border: 1px solid black;
}

.playerCard-content-button {
    align-self: flex-end;
    padding-right: 5px;
    gap: 10px
}

.playerCard-content-edit-open {
    width: 30%;
    max-height: 500px;

}

.playerCard-content-photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-preview {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}


#upload-photo {
    height: 0;
    width: 0;
}

#upload-photo-label {
    border: 1px solid black;
    padding: 5px 20px;
    font-size: 16px;
    width: 100%;
    background-color: lightgray;
}

#upload-photo-label:active {
    background: #ccc;
}

#upload-button {
    align-self: center;
    border: 1px solid black;
    padding: 5px 30px;
    font-size: 13px;
    background-color: lightgray;
}

#upload-button:active {
    background: #ccc;
}

#delete-photo input{
background-color: lightblue
}