.create-game-container{
    display:flex;
    flex-direction: row;
    border: 2px solid red;
    width: 100%}

.create-game-inner-sides{
    display: flex;
    border: 2px solid yellow;
    justify-content: center;
    width:30%
}

.create-game-inner-middle{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    border: 2px solid blue;
    justify-content: center;
    align-items: center;
}
