ul {
    display: flex;
    justify-content: space-around;

}

li {
    list-style-type: none;
}

.navbar-admin {
}

button:hover{
    background-color: yellow;
}

button:active{
    background-color: blue;
}