.btn {
    border: none;
    background: transparent;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.1rem;
    color: white;
    border-radius: 5px;
    transition: 0.3s all ease-out;
    cursor: pointer;
    width: 150px;
}

.btn:hover {
    color: white;
    background: lightblue;
}