.FillPage-container {
    display: flex;
    width: 100%;
    border: 2px solid red;
    height: 100%;
    position: relative;
    left: 0;
    overflow: hidden;

}

.FillPage-sides-container {
    display: flex;
    flex-basis: 300px;
    flex-grow: 1;
    border: 2px solid yellow;
    flex-direction: column;
    justify-content: space-around;

}

.FillPage-sides-game-content {
    display: flex;
    justify-content: center;
    border: 2px solid red;
    font-size: xxx-large;
}

.FillPage-sides-game-content #game-winner {
    align-self: center;
}

.FillPage-sides-player-content {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid red;
    cursor: pointer;

}

.FillPage-middle-column {
    display: flex;
    width: 33%;
    border: 2px solid red;
    flex-direction: column;
    justify-content: space-between;
}

.FIllPage-middle-score-display {
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
    height: 75%;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.FIllPage-middle-score-display::-webkit-scrollbar {
    display: none;
}

.FIllPage-middle-score-display-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    width: 50%;

}

.scorecard-game-info-middle #turn-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid yellow;
    justify-content: space-around;
    width: 100%;

}

.FillPage-middle-score-input {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.FillPage-middle-score-submit{
    display: flex;
    background-color: blue;
    height: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
}

.FillPage-middle-score-submit :hover {
    display: block;
    background-color: lime;
}

.FillPage-middle-score-input #score-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: xxx-large;


}

.FillPage-middle-score-input #score-edit-button {
    display: block;
    border: 1px solid black;
    width: 100%;
    cursor: pointer;
    text-align: center;
    background-color: red;
}


.FillPage-middle-score-input #score-edit-button-active {
    display: block;
    border: 1px solid black;
    width: 100%;
    background-color: limegreen;
    cursor: pointer;
    padding: 20px 0 20px 0;
    text-align: center;


}

.player-turn button {
    padding: 0;
}

.player-turn {
    gap: 15px;
    display: flex;
    justify-content: space-between;
}

.player-turn-correct {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}