.FillPage-container {
    display: flex;
    width: 100%;
    border: 2px solid red;
    height: 100%;
    position: relative;
    left: 0;
    overflow: hidden;

}

.FillPage-sides-container {
    display: flex;
    flex-basis: 300px;
    flex-grow: 1;
    border: 2px solid yellow;
    justify-content: center;
    flex-direction: column;
}

.FillPage-sides-content-top {
    display: flex;
    justify-content: center;
    border: 2px solid red;
}


.FillPage-sides-content-bottom {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid red;
}

.FillPage-middle-column {
    display: flex;
    width: 33%;
    border: 2px solid red;
    flex-direction: column;
    justify-content: space-between;
}

.FIllPage-middle-score-display {
    display: flex;
    flex-direction: row;
    border: 2px solid red;

}

.FIllPage-middle-score-display-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid red;
    width: 50%;

}

.FillPage-middle-score-input {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-items: center;
}


.FillPage-middle-score-input #score-buttons{
    background-color: red;
   display: flex;
    flex-direction: column;
    justify-self: flex-end;
}

.FillPage-middle-score-input #score-edit-button{
    border: 1px solid black;
    display: block;
    align-items: center;
}

.player-turn button {
    padding: 0;
}

.player-turn {
    gap: 15px;
    display: flex;
    justify-content: space-between;
}

.player-turn-correct {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}