* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

body {
  background-color: #F4ECE5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #33312F;
}

.container{
  display: flex;
  flex-direction: column;
  height:100%;
}