* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}


body {
    background-color: #F4ECE5;
    height: 100%;
    color: #33312F;
}

.container {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.app{
    Display:inline-block;
    Width: 98vw;
    Height:95vh;
}

.app> Div{
    Width:100%;
}

.app .navBar{
    Height:10%;
}

.app .content{
    Height:85%;
}

.home-container{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 600px;
}

.home-title{
    display: flex;
    justify-content: space-between;
    align-self:  center;
}

.home-message{
    min-height: 200px;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    padding: 30px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.06);
}


